/* 
 Name: Brandon Karl/ Serey Morm, brandon_karl@student.uml.edu/serey_morm@student.uml.edu
 Computer Science Department, UMass Lowell
 Comp.4610, GUI Programming I
 File: /usr/cs/2018/smorm/public_html/
 Created: 20-nov-2017
 Last updated by HL: 7-Dec-2017, 15:34
*/

.homeContainer {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.categoryButtons button {
  padding: 10px 15px;
  background-color: transparent;
  border: solid 1px #ddd;
  font-size: 12px;
  cursor: pointer
}

.categoryButtons button:hover{
  color: white;
  background-color: #5FD4A5;
}