/* 
 Name: Brandon Karl/ Serey Morm, brandon_karl@student.uml.edu/serey_morm@student.uml.edu
 Computer Science Department, UMass Lowell
 Comp.4610, GUI Programming I
 File: /usr/cs/2018/smorm/public_html/
 Created: 20-nov-2017
 Last updated by HL: 7-Dec-2017, 15:34
*/

@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}
